<%- include('./partials/header'); -%>

<h1>CONTACT</h1>

<h3>Creator </h3>
<p><%= contactContent.name %></p>
<p><%= contactContent.email %></p>
<p><%= contactContent.phno %></p>

<%- include("./partials/footer"); -%>